<div class="callout large primary">
  <div class="text-center">
    <h1>Books</h1>
  </div>
</div>

<article class="grid-container">
    <div class="grid-x align-center" id="content">

      <div class="medium-8 cell">
        <p id="notice"><%= notice %></p>

        <div class="blog-post">
          <h3><%= @book.title %> <small>$<%= @book.base_price %></small></h3>
          <p>
            <strong>Release Date:</strong> <%= @book.release_date %><br />
            <strong>Format:</strong> <%= @book.format %>
          </p>
          <div class="callout">
            <ul class="menu simple">
              <li><strong>Authors:</strong> <%= @book.authors_names %></li>
            </ul>
          </div>
        </div>

        <%= link_to 'Edit', edit_book_path(@book), class: 'button primary' %>
        <%= link_to 'Back', books_path, class: 'button secondary' %>

      </div><!-- /.medium-8.cell -->

    </div><!-- /#content -->
</article>
